.color_pink{color:#e32d83 !important}.color_blue{color:#2057bc !important}.link-button-azure_top .btn_lavel{margin:25px}.section-two-h3{font-size:40px;margin:80px 0 50px !important}.section-two-h3 .desc1{line-height:270%}.separator{position:relative}.separator div.title{top:50%;left:50%;-webkit-transform:translate(-50%, -50%);transform:translate(-50%, -50%);position:absolute;background:none;text-align:center}
