#comment_headline { margin:0 0 10px 0; font-size: 14px; border-bottom: dotted 1px #D3D3D3; font-weight: bold; padding: 20px 0 5px 0;}

#comments { margin:0 0 30px 0; font-size:12px; }

#comments ul, #comments ol{
	list-style: none;
	padding-left: 0;
}

#comment_area, #trackback_area { margin:15px 0 20px; padding:0 0 5px 0;  }
#trackback_area { display:none; }


/*  ------ comment_header ----------------------------------------------------------------------------------------------------------------------- */
#comment_header { /*border-bottom:1px solid #ccc;*/ position:relative; margin:0 0 20px 0; /*padding:0;*/ }

#comment_header_right { /*float:left;*/ position:relative; margin:0 0 -1px 0; padding: 0; }
#comment_header_right li { display:inline; /*float:right;*/ text-align:center; margin:0 0 0 -1px; }
#comment_header_right li a, #comment_header_right li p
 { color:#333; font-size:11px; padding:7px 0; margin:0; /*width:343px;*/ height:36px; line-height:18px; text-decoration:none; display:block; border:1px solid #ccc; background:#f2f2f2; }
#comment_header_right li.comment_switch_active a, #comment_header_right li#comment_closed p
 { border-bottom:1px solid #fff; background:#fff; }
#comment_header_right li a:hover { background:#999; color:#fff; }
#comment_header_right li.comment_switch_active a:hover { background:#fff; color:#333; }

/*  ------ comment ------------------------------------------------------------------------------------------------------------------------------ */
.commentlist { list-style-type:none; margin:0; padding:0; }
.comment { border:1px solid #ccc; color:#777; margin:0 0 15px; padding:15px 20px 3px; background:#eee; }
.even_comment, .odd_comment_children { background:#fafafa; }
.odd_comment, .even_comment_children { background:#fefefe; }
.admin-comment { }

/* ----- comment-meta ----- */
.comment-meta { position:relative; margin:0 0 5px 0; }

.comment-meta-left { float:left; width:200px; }
.avatar { float:left; margin:0 10px 0 0; border:1px solid #ccc; background:#fff; width:37px; height:37px; padding:2px; }
.comment-name-date { padding:2px 0 0 0; list-style: none; line-height: 145%; }

.commentlist a, .commentlist a:visited, .comment-name { }
.commentlist a:hover {  }
a.admin-url { text-decoration:underline; }
a.guest-url { text-decoration:underline; }

.comment-name-date { margin:0; }
.comment-date { font-size:11px; color:#757676; margin:0 0 0 0; }

.comment-act { background:url(img/common/arrow3.gif) no-repeat left; font-size:11px; position:absolute; right:0px; padding:0 0 0 10px; margin:5px 0 0 0; }
.comment-act li { display:inline; margin:0; }
.comment-reply a, .comment-reply a:visited { border-right:1px solid #aaa; padding:0 10px 0 0; margin:0 6px 0 0; }
.comment-edit a, .comment-edit a:visited { border-left:1px solid #aaa; padding:0 0 0 10px; margin:0 0 0 6px; }

.comment-act a{color: #000;}
.comment-act .btn-primary{ border: none; border-right: solid 1px #aaa; font-size: 11px; color: #000; background: none;}


/* ----- comment-content ----- */
.comment-content { padding:0; margin: 0; clear: both; line-height: 180%; }
.comment-content .no_comment { font-size: 12px; }
* html .comment-content { padding:5px 0 0 0; }
.comment-content a, .comment-content a:visited { text-decoration:underline; }
.comment-content a:hover { }
.comment-content p { margin:0 0 10px 0; font-size: 12px;}
.comment blockquote span { margin:0 0 -1em 0; display:block; }

.comment-note { display:block; font-size:11px; margin:0 0 1em 0; color:#33a8e5; border:1px solid #94ddd4; padding:10px 15px; background:#d6f4f0; }

.comment_closed { border:1px solid #ccc; text-align:center; margin:0 0 15px; padding:15px; background:#fefefe; font-size: 12px;}

/* ----- trackback-contens ----- */
.trackback_time { font-size:11px; color:#757676; margin:0 0 7px 0px; }
.trackback_title { margin:2px 0 8px 0; margin:0 0 10px 0px; }

#trackback_url_area { }
#trackback_url_area label { display:block; margin:4px 0 10px 0; font-size:11px; }
#trackback_url_area input { border:1px solid #ccc; background:#fafafa; padding:5px; width:617px; font-size:11px; }


/* ----- comment-pager ----- */
#comment_pager { margin:0 0 10px; height:24px; }
#comment_pager a, #comment_pager span { display:inline; float:left; margin:0 10px 0 0; }
#comment_pager .current { text-decoration:underline; }



/* ---------- form area ------------------------------------------------------------------------------------------------------------------------- */
.comment_form_wrapper { border:1px solid #ccc; margin:0 0 15px; padding:15px; background:#fff; }

#cancel_comment_reply  { background:url(img/common/arrow3.gif) no-repeat left center; margin:0 0 1em 0; padding:0 0 0 11px; }

#comment_user_login p { padding:0 0 0 1px; margin:0; line-height:100%; font-size: 12px;}
#comment_user_login span { margin:0 0 0 40px; }

#comment_login { margin:0; padding:3px 30px 10px 30px; }
#comment_login p { margin:0; padding:12px 0 11px 36px; line-height:100%; }
#comment_login a { margin:0 0 0 20px; padding:0 0 0 20px; background:url(img/common/arrow3.gif) no-repeat 10px 3px; }

#guest_info { padding:0; width:100%; }
#guest_info div { margin:0 0 12px 0; text-align:left; }
#guest_info input { margin:0; padding:5px 0; border:1px solid #ccc; width:100%; background:#fff; color:#777; }
#guest_info input:focus { }
#guest_info label { display:block; margin:0 0 5px 0; padding:0 0 0 0; font-size:11px; color:#888;}
#guest_info span { color:#666; margin:0 10px 0 0; }

#comment_textarea textarea { margin:15px 0 0; width:100%; height:150px; border:1px solid #ccc;
                             background:#fff; color:#777; font-size:11px; overflow:auto; }
#comment_textarea textarea:focus { }

#submit_comment_wrapper { text-align:center; }
#submit_comment { background:#aaa; border:none; 
   cursor:pointer; color:#fff; font-size:13px; width:200px; height:37px; margin:15px auto 0; display:block;
   -moz-border-radius:3px; -khtml-border-radius:3px; -webkit-border-radius:3px; border-radius:3px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all  0.3s ease;
}
#submit_comment:hover { background:#ccc; }

#input_hidden_field { display:none; }

/* ----- password protected ----- */
.password_protected { text-align:center; margin:0 0 10px 0; padding:10px 20px; color:#fff; background:#3db4b2; }
.password_protected p { font-size:12px; margin:0; }