.color_pink{
    color: #e32d83 !important;
}
.color_blue{
    color: #2057bc !important;
}

.link-button-azure_top{
    .btn_lavel,{
        margin: 25px;
    }
}

.section-two-h3{
    font-size: 40px;
    margin: 80px 0 50px !important;
    
    .desc1{
        line-height: 270%;;
    }
}

@mixin t_l50{ //親要素に対して垂直・水平にセンタリング
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    position: absolute;
}
.separator{
  position:relative;
  div.title{
    @include t_l50;
    background: none;
    text-align: center;
  }
}